<nav class="navbar">
    <div class="navbar-container">
        <h1 class="logo">GameZone</h1>
        <ul class="nav-menu">
            <li><a class="nav-link" [routerLink]="['/accueil']">Accueil</a></li>
            <li><a class="nav-link" [routerLink]="['/jeux']">Jeux</a></li>
            <li><a class="nav-link" [routerLink]="['/inscription']">S'inscrire</a></li>
            <li><a class="nav-link" [routerLink]="['/connexion']">Se connecter</a></li>
            <li><a class="nav-link" [routerLink]="['/profil']">Profil</a></li>
        </ul>
    </div>
</nav>
