.navbar {
   /* background-color: #1c1c1c; */
    padding: 10px 20px;
    background: linear-gradient(270deg, #1c1c1c, #28a745, #1c1c1c);
    background-size: 500% 400%;
    animation: gradientAnimation 15s ease infinite;
}

@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #ffcc00;
    font-size: 24px;
    font-weight: bold;
}

.nav-menu {
    list-style: none;
    display: flex;
}

.nav-menu li {
    margin: 0 15px;
}

.nav-link {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}

.nav-link:hover {
    color: #ffcc00;
}

.email-display {
    margin-left: auto; /* Aligne l'email à droite */
    color: #fff; /* Changez la couleur selon votre thème */
    font-size: 1rem; /* Ajustez la taille de police si nécessaire */
}

.btn{
    margin-left: 10px;
}