<div class="text-light overflow-hidden default" style="background-image: url('images/img3.jpg');">
  <header class="py-5 header">
      <h1 class="quiz-title text-uppercase text-light">Bienvenue sur Yang Quiz !</h1>
      <p class="lead text-light">
          🎉Testez vos connaissances et amusez-vous ! 🎉<br />
          💡 Choisissez un thème et commencez à jouer. 🧠
      </p>
      <div class="text-center">
          <a class="btn-warning btn-start nav-link btn w-100" [routerLink]="['/connexion']">Se Connecter pour Démarrer le Quiz</a>
      </div>
  </header>

  <footer class="fixed-bottom text-center py-3 text-secondary footer">
      <p>&copy; 2025 QuizApp - Tous droits réservés</p>
  </footer> 
</div>