<div class="overflow-hidden default w-100"  style="background-image: url('images/img3.jpg');" >
   <div class="container w-100 info mt-4 ">
    <h2>Testez vos connaissances !</h2>
    <p>Répondez à des questions dans divers domaines et défiez vos amis.</p>
    
    <h3>Fonctionnalités</h3>
    <ul>
        <li>Jeu Multijoueur</li>
        <li>Niveaux de Difficulté</li>
        <li>Statistiques de Jeu</li>
    </ul>

    <div class="m-2 w-50 text-center">
        <button class="nav-link btn btn-primary" [routerLink]="['/game']">Jouer Maintenant</button> 
    </div>
   
    <h3>Avis des Joueurs</h3>
    <p>"Le meilleur quiz que j'ai jamais joué !"</p>
    <p>"Très amusant et éducatif !"</p>
   </div>
</div>

